<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://www.bootstrapdash.com/demo/plus/jquery/template/assets/css/demo_1/style.css">
<style>
.bg {
  background-color: #cccccc;
}
</style>
</head>
<body>


<div style="text-align: center;">
		<img src="coin.png" />
		
</div>	
<div style="text-align: center;">
<button class="btn btn-info btn-fw ">{% for toss in toss_details %}
					
{{toss.team}} have won the toss and have opted to {{toss.toss_decision}}

{% endfor %}</button>
</div>
	



</body>
</html>